<% layout("/layouts/boilerplate") %>




    <div class="row">
        <div class="col-8 offset-3">
    <h1> <b><%= listing.title %></b></h1>
            </div>
    <div class="card col-6 offset-3  show-card listing-card" >
        <img src="<%= listing.image %>" class="card-img-top show-image" alt="listing_image">
        <div class="card-body">
    <p class="card-text">Owner : <i><%= listing.owner.username %></i> </p>
    <p class="card-text"> <%= listing.description %></p>
    <p class="card-text">  &#8377; <%= listing.price.toLocaleString("en-IN") %> </p>
    <p class="card-text"> <%= listing.location %></p>
    <p class="card-text"> <%= listing.country %></p>
        </div>
      </div>
      <div class="show-btns">
        <a href="/listings/<%= listing._id %>/edit"><button class="btn btn-dark edit-btn offset-3">Edit</button></a> 

        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark  offset-5">Delete</button>
        </form>
      </div>



      <!-- Reviews Section -->
       <div  class="col-8 offset-3 mb-3 mt-3 ">
        <hr/>
            <h4>Leave Reviews</h4>
            <form method="POST" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
                <div class="mb-3 mt-3 ">

                    <label for="rating" class="form-label" >Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"/>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label" >Comment</label>
                    <textarea name="review[comment]" id="comment" rows="5" cols="50" class="form-control"  required ></textarea>
                    <!-- <div class="valid-feedback">looks great  &#128512;</div> -->
                    <div class="invalid-feedback">Please Enter Review Comment &#129313;</div>
                </div>
                <button class="btn btn-outline-dark mb-3 mt-3">Submit</button>
            </form>
       </div>

       <hr/>
       <p><b>All Reviews</b></p>
       <div>
           <% for(review of listing.reviews)  { %>
            <div class="card mb-3 ms-3" style="width: 45%;">
                <div class="card-body">
                    <h5 class="card-title">@Username</h5>
                    <p class="card-text"><b><%= review.comment %> </b></p>
                    <h6 class="card-text mb-2 text-muted"><b><%= review.rating %> Star</b></h6>
                    
                    
                    <form class="mb-3 ml-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <button class="btn btn-dark btn-sm">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
  
            
</div>
</div>
    